#site-main {
    margin-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    .title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        h1 {
            font-size: 23px;
            font-weight: 700;
        }
    }

    .main-content {
        margin-top: 50px;

        header {
            align-items: end;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            h1 {
                font-size: 27px;
                margin: {
                    bottom: 10px;
                    top: 0;
                };
            }

            h2 {
                font-size: 17px;
                margin: 0;
            }
        }

        form {
            label.required {
                &:after {
                    color: red;
                    content: "*";
                }
            }
        }
    }
}
